# List of subreddits to fetch images from.
subreddits:
- cats
- catpictures
- catpics
# Number of messages before messages are considered a monologue that needs to be disrupted.
min_monologue_size: 10
# Maximum number of seconds between messages for a monologue to end.
max_monologue_delay: 300
# Cooldown in seconds after disrupting a monologue during which messages are counted,
# but monologues aren't disrupted even if the message count goes over the limit.
disrupt_cooldown: 10
# Rate limits for manual cat requests.
disrupt_probability: 0.5
# Probability of disruption.
user_ratelimit:
  # How many cat pictures can be manually requested per time unit per room
  rate: 3
  # The time unit for the above, as seconds
  per: 3600
  # The message to send when the rate limit is exceeded.
  message: You have exceeded your hourly cat allowance.
# Same rate limit as above, but per room instead of per user.
# Both per user and per room rate limits are checked before allowing a cat request.
room_ratelimit:
  rate: 3
  per: 86400
  message: This room has exceeded its daily cat allowance.
